<!-- footer.component.html -->
<div class="custom-pagination" [class.disabled]="disabled">
    <div class="left-c">
      <span>Hiển thị mỗi trang</span>
      <select 
        [value]="rowsPerPage" 
        (change)="onItemsPerPageChangeSelect($event)" 
        [disabled]="disabled"
      >
        <option *ngFor="let size of [25, 50, 75, 100]" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <div class="right-c">
      <button 
        (click)="handleFirst()" 
        [disabled]="currentPage === 1 || disabled"
        class="arrow-button first-last-button"
      >
        Đầu
      </button>
      <button 
        (click)="handlePrev()" 
        [disabled]="currentPage === 1 || disabled"
        class="arrow-button"
      >
        <img [src]="left_arrow" alt="Trang Trước" />
      </button>
  
      <ng-container *ngFor="let page of pages">
        <button
          *ngIf="isNumberPage(page)"
          (click)="goToPage(page)"
          class="page-button"
          [class.active]="isActivePage(page)"
          [disabled]="disabled"
        >
          {{ page }}
        </button>
  
        <button
          *ngIf="isLeftEllipsis(page)"
          (click)="handleEllipsis('left')"
          class="ellipsis-button"
          [disabled]="disabled"
        >
          ...
        </button>
  
        <button
          *ngIf="isRightEllipsis(page)"
          (click)="handleEllipsis('right')"
          class="ellipsis-button"
          [disabled]="disabled"
        >
          ...
        </button>
      </ng-container>
  
      <button 
        (click)="handleNext()" 
        [disabled]="currentPage === totalPages || disabled" 
        class="arrow-button"
      >
        <img [src]="right_arrow" alt="Trang Tiếp Theo" />
      </button>
      <button 
        (click)="handleLast()" 
        [disabled]="currentPage === totalPages || disabled" 
        class="arrow-button first-last-button"
      >
        Cuối
      </button>
    </div>
  </div>
  