<div class="info-onboard">
    <h3>THÔNG TIN ONBOARDING</h3>
    <div class="user-content">
      <div class="user-col-1">
        <img src="../../assets/avatar-placeholder.png" alt="" />
        <span style="font-weight: bold">Nguyen Van A</span>
        <span>H0123123</span>
      </div>
      <div class="user-col user-col-2">
        <div>
          <span>Vị trí Onboarding</span><span>&nbsp;</span><span>&nbsp;</span
          ><span>Trạng thái</span>
        </div>
        <div>
          <span>: Nhân viên phát triển</span><span>&nbsp; Thương mại điện tử</span
          ><span><i>&nbsp; Hachi Hachi NVT</i></span
          ><span style="color: #0d99ff">: Chuẩn bị Onboarding</span>
        </div>
      </div>
      <div class="user-col user-col-3">
        <div>
          <span>Ngày bắt đầu</span><span>Ngày dự kiến kết thúc</span
          ><span>Ngày vào làm</span><span>Loại nhân sự</span>
        </div>
        <div>
          <span>: 17/09/2024</span><span>: 25/09/2024</span
          ><span>: 19/09/2024</span><span>: Không chính thức</span>
        </div>
      </div>
      <div class="user-col user-col-4">
        <div>
          <span>Mã quyết định</span><span>Ngày hiệu lực</span
          ><span>Loại quyết định</span>
        </div>
        <div>
          <span>: QĐTD012345</span><span>: 16/09/2024</span
          ><span style="color: #0d99ff">: Tuyển dụng</span>
        </div>
      </div>
    </div>
  </div>