@import 'src/styles';

$primary-color: #1A6634;
$secondary-color: #808c99;
$background-color: #f3f4f6;

.app-onboard {
    padding: 4px; 
    background-color: $background-color;

    &.disabled {
      opacity: 0.7;
    }

    .breadcrumb {
      display: flex;
      align-items: center;
      padding: 8px 10px;
      background-color: $background-color;
      border-radius: 4px;
      font-family: $primary-font;
      font-size: 13px;

      .breadcrumb-item {
        color: $secondary-color;
        font-weight: 600;

        &.active {
          color: $primary-color;
          font-weight: 600;
        }
      }

      .breadcrumb-divider {
        margin: 0 8px;
        color: $secondary-color;
      }

      .Offboarding-btn {
        margin-left: auto;
        background-color: $primary-color;
        color: white;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 2px;
        padding: 18px 8px;
        font-size: 13px;
        cursor: pointer;
        font-family: $primary-font;
        font-weight: 600;
        height: 32px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;

        .icon-power {
          margin-right: 6px;
          width: 16px; 
          height: 16px;
          display: inline-block;
        }
        
        &:hover {
          background-color: #155d2d;
        }

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
}
