<div class="search-bar" [class.disabled]="disabled">
  <h4 class="search-title">DANH SÁCH CÔNG VIỆC CẦN THỰC HIỆN</h4>
  <div class="search-actions left-t">
    <div class="input-wrapper">
      <div class="input-icon">
        <img src="../../assets/glass.png" alt="Search Icon" class="search-icon-input" />
      </div>
      <input
        type="text"
        placeholder="Tìm theo tên công việc, mô tả, thực hiện bởi"
        class="search-input"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        [disabled]="disabled"
      />
    </div>
    <button class="search-btn" (click)="onSearchClick()" [disabled]="disabled">
      <img src="../../assets/glass.png" alt="Search Icon" class="button-icon" />
      Tìm
    </button>
  </div>
  <div class="search-actions right-t">
    <button class="add-btn" [disabled]="disabled">
      <img src="../../assets/plus.png" alt="Plus Icon" class="button-icon" />
      THÊM MỚI
    </button>
  </div>
</div>
