
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

app-table {
  flex: 1;
  overflow-y: auto;
}

.table-switch {
  margin: 10px 0;
}

.table-switch button {
  margin-right: 10px;
  padding: 5px 10px;
}

.table-switch button.active {
  background-color: #0D99FF;
  color: #fff;
  border: none;
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}
