<app-sidebar></app-sidebar>
<div>
  <app-header1></app-header1>
  <app-onboard [disabled]="isDisabled" (toggleOnboarding)="switchTable($event)"></app-onboard>
  <app-job-overview [disabled]="isDisabled"></app-job-overview>
  <app-search-bar [disabled]="isDisabled" (searchQuery)="onSearchQuery($event)"></app-search-bar>
  <app-table-list 
    [searchTerm]="searchTerm" 
    [tableType]="currentTable" 
    (actionBarOpened)="onActionBarOpened($event)"
    (rowCountChange)="rowCount = $event">
  </app-table-list>
  <app-footer
    [rowsPerPage]="rowsPerPage"
    [rowCount]="rowCount"
    [currentPage]="currentPage"
    [disabled]="isDisabled"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
  >
  </app-footer>
</div>
