.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal {
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 316px;
  height: 243px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-family: "Mulish", sans-serif;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 15px;
  color: #ff4d4f;
  border-bottom: 1px solid rgba(0, 0, 0, 0.235);
}

.warning-icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(22%) sepia(91%) saturate(7485%) hue-rotate(356deg) brightness(95%) contrast(104%);
}

.header-title {
  font-size: 18px;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.action-text {
  font-size: 13px;
  margin: 0;
}

.job-section {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-name {
  font-size: 11px;
  font-weight: bold;
  color: #36c8cf;
}

.more-jobs {
  font-size: 11px;
  color: #36c8cf;
}

.warning-text {
  color: #d32f2f;
  margin-top: 10px;
  font-size: 13px;
}

.modal-actions {
  display: flex;
  height: 50px;
  border-top: 1px solid #eee;
}

.cancel-btn,
.delete-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  font-size: 11px;
  font-weight: bold;
  transition: background 0.3s;
  position: relative;
}

.cancel-btn {
  background: #e0e0e0;
  color: #333;
  border-right: 1px solid #eee;
}

.cancel-btn:hover {
  background: #d5d5d5;
}

.delete-btn {
  background: #ff4d4f;
  color: white;
}

.delete-btn:hover {
  background: #e51c23;
}

.icon-trash {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
