<div class="modal-overlay">
  <div class="popup-confirm">
    <div class="popup-header" [ngClass]="getHeaderClass()">
      {{ getTitle() }}
    </div>
    <div class="popup-body">
      <p>
        Bạn chắc chắn muốn
        <span class="highlight-action">{{ getActionText() }}</span>
        <span> công việc </span>
        <span class="task">{{ displayJobNames }}</span>
        <span> cho </span>
        <span class="user">{{ displayUsers }}</span>
      </p>
    </div>
    <div class="popup-footer">
      <button class="cancel-button" (click)="onCancel()">HỦY BỎ</button>
      <button class="confirm-button" (click)="onConfirm()">XÁC NHẬN</button>
    </div>
  </div>
</div>
