<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header" [ngClass]="getHeaderClass()">
      <img src="../../assets/warning.png" alt="Warning" class="warning-icon" />
      <span class="header-title">{{ getTitle() }}</span>
    </div>
    <div class="modal-body">
      <p class="action-text">
        {{ getActionMessage() }}
      </p>
      <div class="job-section" title="{{ jobNames.length > 1 ? jobNames.join(', ') : displayJobNames }}">
        <span class="job-name">
          {{ displayJobNames }}
        </span>
        <span *ngIf="jobNames.length > 1" class="more-jobs">...</span>
      </div>
      <span class="warning-text" *ngIf="isDeleteAction()">
        Công việc bị xóa sẽ <strong>KHÔNG</strong> thể khôi phục lại.
      </span>
    </div>
    <div class="modal-actions">
      <button class="cancel-btn" (click)="onCancel()">
        {{ getCancelButtonText() }}
      </button>
      <button
        [ngClass]="getConfirmButtonClass()"
        (click)="onConfirm()"
      >
        <img
          *ngIf="isDeleteAction()"
          src="../../assets/trash.png"
          alt="Trash"
          class="icon-trash"
        />
        {{ getConfirmButtonText() }}
      </button>
    </div>
  </div>
</div>
