<div class="table-list">
    <table>
      <thead>
        <tr>
          <th>
            <input type="checkbox" />
          </th>
          <th>Tên công việc</th>
          <th>Mô tả</th>
          <th>Thực hiện bởi</th>
          <th>Duyệt bởi</th>
          <th>Thứ tự</th>
          <th>Thời gian thực hiện</th>
          <th>Tình trạng</th>
        </tr>
      </thead>
      <tbody>
        <tr class="selected-row">
          <td>
            <input type="checkbox" />
          </td>
          <td>
            <p class="job-name">Công việc 1</p>
            <p class="details">Ngoài chính sách</p>
          </td>
          <td>Cài đặt các phần mềm cần thiết như IDE, Git, Docker.</td>
          <td>Giám đốc</td>
          <td class="status">Chức danh B</td>
          <td>1</td>
          <td>Hết ngày: 1/9/2024</td>
          <td>Chưa thực hiện</td>
        </tr>
        <tr class="selected-row">
          <td>
            <input type="checkbox" />
          </td>
          <td>
            <p class="job-name">Công việc 1</p>
            <p class="details">Ngoài chính sách</p>
          </td>
          <td>Cài đặt các phần mềm cần thiết như IDE, Git, Docker.</td>
          <td>Giám đốc</td>
          <td class="status">Chức danh B</td>
          <td>1</td>
          <td>Hết ngày: 1/9/2024</td>
          <td>Chưa thực hiện</td>
        <tr>
          <td colspan="5" class="no-data">
            Không có dữ liệu hiển thị
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  